*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Yusei Magic', sans-serif;
    background-color: teal;
}

#container{
    margin: 40px auto;
    padding: 15px;
    max-width: 400px;
}

#main_frame{
    max-width: 400px;
    box-sizing: border-box;
    border: 5px #0e49b5 solid;
    background-color: turquoise;
    position: relative;
    padding: 20px;
    margin: 10px;
    margin-bottom: 0;
}

#main_frame h1,p{
    text-align: center;
    margin: 5px;
}

#main_heading{

}

#main_form{
    padding: 25px;
}

#main_form label{
    display: block;
    /* padding: 10px; */
}

#main_form input{
    width: 100%;
    padding: 2px;
}

.entry{

}

#button{
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: burlywood;
    background-color: blue;
}

a{
    text-decoration: none;
}

#foot{
    margin: 0px;
    overflow: hidden;
}